/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.like-icon {
  width: 39px;
  height: 36px;
  opacity: 1;
  transform-origin: center;
}

.like-icon .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.card__icon-button:hover .like-icon .core {
  fill: var(--contour-color);
  transition-delay: 0s;
}

.card__icon-button:hover .like-icon .main-body {
  fill: var(--contour-color);
  transition-delay: 0.05s;
}

.card__icon-button:active .like-icon .core,
.card__icon-button:active .like-icon .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.card__icon-button:active .like-icon .main-body {
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

@keyframes like-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.like-icon .heart {
  transform-origin: 50% 50%;
}

.like-icon.is-liked .heart {
  animation: like-scale 0.3s ease-in 0.1s 1;
}

.like-icon .sparks {
  fill: var(--animation-fill-color);
  opacity: 0;
}

@keyframes sparks-flash {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.like-icon.is-liked .sparks {
  animation: sparks-flash 0.3s ease-in 0.3s 1;
}
